@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

/* top blue div */
#blue-div-1 {
  color: white;
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #434CCC;
}
#blue-div-1 > nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 135px 0px 135px;
}
#blue-div-1 > nav > div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: var(--Text_White, #FFF);
  text-align: right;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#blue-div-1 > nav > h3 {
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
#blue-div-1 .pri-btn {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434CCC;
  border: 1px solid ghostwhite;
  color: ghostwhite;
  border-radius: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#blue-div-1 > div {
  padding-top: 140px;
  padding-left: 135px;
  display: flex;
  position: relative;
}
#blue-div-1 > div > div:nth-child(1) p:nth-of-type(1) {
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#blue-div-1 > div > div:nth-child(1) h1 {
  width: 515px;
  height: 160px;
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  margin-top: 0;
  margin-bottom: 0;
}
#blue-div-1 > div > div:nth-child(1) p:nth-of-type(2) {
  width: 370px;
  height: 72px;
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#blue-div-1 > div > div:nth-child(1) button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #F1B505;
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  color: white;
}
#blue-div-1 > div > div:nth-child(2) {
  position: absolute;
  top: -20px;
  left: 447px;
  width: 1074px;
  height: 716px;
  flex-shrink: 0;
}

/* mid yellow div */
#yellow-div-2 {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #FFDD78;
  position: relative;
}
#yellow-div-2 > div {
  width: 1170px;
  height: 628px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#yellow-div-2 > div > h2 {
  width: 469px;
  height: 64px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 0;
  margin-top: 0;
}
#yellow-div-2 > div > p {
  width: 570px;
  height: 83px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 36px;
}
#yellow-div-2 > div .cards {
  display: flex;
  gap: 30px;
}
#yellow-div-2 > div .cards > div {
  width: 370px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#yellow-div-2 > div .cards > div > div:nth-child(1) {
  width: 132px;
  height: 114px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 0;
}
#yellow-div-2 > div .cards > div > div:nth-child(2) {
  padding: 32px;
}
#yellow-div-2 > div .cards > div > div:nth-child(2) h4 {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
  line-height: 32px;
  margin-top: 0;
}
#yellow-div-2 > div .cards > div > div:nth-child(2) p:nth-of-type(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#yellow-div-2 > div .cards > div > div:nth-child(2) p:nth-of-type(2) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/* bottom main */
#white-div1-p1 {
  width: 1440px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#white-div1-p1 > h4 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding: 63px 673px 21px;
  margin: 0;
}
#white-div1-p1 > h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
}
#white-div1-p1 > p {
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

#white-div1-p2 {
  width: 1440px;
  background-color: white;
  display: flex;
}
#white-div1-p2 > div:nth-child(1) {
  margin-left: 135px;
  background-color: white;
  width: 684px;
  height: 456px;
  flex-shrink: 0;
}
#white-div1-p2 > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
#white-div1-p2 > div:nth-child(2) > h3 {
  margin-top: 100px;
  width: 323px;
  height: 96px;
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
#white-div1-p2 > div:nth-child(2) > p:nth-of-type(1) {
  width: 470px;
  height: 75px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#white-div1-p2 > div:nth-child(2) > p:nth-of-type(2) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#white-div1-p3 {
  display: flex;
}
#white-div1-p3 > div:nth-child(1) > h3 {
  width: 392px;
  height: 96px;
  margin-top: 121px;
  margin-left: 235px;
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
#white-div1-p3 > div:nth-child(1) > p:nth-of-type(1) {
  margin-left: 235px;
  width: 470px;
  height: 75px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#white-div1-p3 > div:nth-child(1) > p:nth-of-type(2) {
  margin-left: 235px;
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#blue-div-2 {
  width: 1440px;
  height: 768px;
  flex-shrink: 0;
  background: #434CCC;
  position: relative;
}
#blue-div-2 > h5 {
  padding: 79px 658px 21px;
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#blue-div-2 > h2 {
  margin: 0;
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#blue-div-2 > p {
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin: 29px 435px;
}

#blue-div-2 > div {
  display: flex;
  width: 1170px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #F1B505;
  position: absolute;
  top: 352px;
  left: 135px;
}
#blue-div-2 > div > div:nth-child(1) > p {
  padding-left: 100px;
  padding-top: 111px;
  margin: 0;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
#blue-div-2 > div > div:nth-child(1) > h2 {
  margin: 0;
  width: 370px;
  height: 128px;
  padding-top: 21px;
  padding-left: 100px;
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#blue-div-2 > div > div:nth-child(1) > button {
  margin-top: 36px;
  margin-left: 100px;
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #F1B505;
}
#blue-div-2 > div > div:nth-child(2) > img {
  position: relative;
  top: 0;
}

#white-div-2 {
  width: 1440px;
  flex-shrink: 0;
  background-color: white;
  position: relative;
  z-index: -1;
}
#white-div-2 > div {
  margin-top: 128px;
  margin-left: 135px;
  position: relative;
  width: 1160px;
  height: 512px;
  display: flex;
  justify-content: space-between;
}
#white-div-2 > div > #red-gargoyle-div {
  display: flex;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #E94A47;
}
#white-div-2 > div > #red-gargoyle-div p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 79px;
  margin-left: 100px;
}
#white-div-2 > div > #red-gargoyle-div h4 {
  color: var(--Text_White, #FFF);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-left: 100px;
  width: 161px;
  height: 96px;
}
#white-div-2 > div > #red-gargoyle-div button {
  width: 48px;
  height: 48px;
  margin-left: 100px;
  border: 1px solid white;
  background-color: #E94A47;
}
#white-div-2 > div > #red-gargoyle-div img {
  position: relative;
  bottom: -31px;
}
#white-div-2 > div > #blue-dog-div {
  display: flex;
  background-color: #428dfc;
  width: 570px;
  height: 512px;
  flex-shrink: 0;
  border-radius: 5px;
}
#white-div-2 > div > #blue-dog-div p {
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 79px;
  margin-left: 100px;
}
#white-div-2 > div > #blue-dog-div h4 {
  color: var(--Text_White, #FFF);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-left: 100px;
  width: 147px;
  height: 96px;
}
#white-div-2 > div > #blue-dog-div button {
  width: 48px;
  height: 48px;
  margin-left: 100px;
  border: 1px solid white;
  background-color: #428dfc;
}

#white-div-2 > button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: white;
  border: 1px solid #434CCC;
  color: #434CCC;
  border-radius: 5px;
  margin-left: 635px;
  margin-top: 50px;
}

#white-div-2 #dog-walk-div {
  width: 1400px;
  margin-top: 89px;
  margin-left: 10px;
}
#white-div-2 #dog-walk-div > div:nth-child(1) {
  display: relative;
  width: 50%;
}
#white-div-2 #dog-walk-div > div:nth-child(1) img {
  position: relative;
  left: 140px;
  top: -100px;
  height: 729px;
  margin-top: 0px;
  margin-left: 60px;
}
#white-div-2 #dog-walk-div > div:nth-child(2) {
  width: 50%;
  margin-left: 30px;
}
#white-div-2 #dog-walk-div > div:nth-child(2) h2 {
  width: 453px;
  height: 128px;
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#white-div-2 #dog-walk-div > div:nth-child(2) p {
  width: 570px;
  height: 69px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
#white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
#white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards div > div {
  width: 50px;
  height: 40px;
}
#white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards div h4 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
#white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards div p {
  width: 270px;
  height: 51px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 748px) {
  #blue-div-1 {
    width: 375px;
    height: 768px;
  }
  #blue-div-1 > nav > div {
    display: none;
  }
  #blue-div-1 > nav:after {
    content: "☰";
    font-size: 24px;
    text-align: right;
    margin-left: 250px;
  }
  #blue-div-1 > nav > h3 {
    font-size: 24px;
    margin-left: -120px;
  }
  #blue-div-1 > div {
    padding-top: 5px;
    padding-left: 20px;
  }
  #blue-div-1 > div > div:nth-child(1) h1 {
    width: 258px;
    height: 192px;
    font-size: 56px;
    line-height: 64px; /* 114.286% */
  }
  #blue-div-1 > div > div:nth-child(1) p:nth-of-type(2) {
    width: 346px;
    height: 72px;
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
  #blue-div-1 > div > div:nth-child(2) > img {
    width: 350px;
    margin-left: -450px;
    margin-top: 450px;
  }
}
@media (max-width: 748px) {
  #yellow-div-2 {
    width: 375px;
    height: 1632px;
  }
  #yellow-div-2 > div > h2 {
    font-size: 40px;
    margin-top: -480px;
    margin-left: -800px;
  }
  #yellow-div-2 > div > p {
    width: 346px;
    height: 101px;
    margin-left: -800px;
  }
  #yellow-div-2 > div .cards {
    flex-direction: column;
    margin-left: -800px;
  }
  #yellow-div-2 > div .cards > div {
    width: 346px;
    height: 416px;
  }
}
@media (max-width: 748px) {
  #white-div1-p1 {
    width: 375px;
  }
  #white-div1-p1 > h4 {
    margin-left: -10px;
  }
  #white-div1-p1 > h2 {
    font-size: 40px;
    margin-top: -10px;
  }
  #white-div1-p1 > p {
    width: 346px;
    height: 135px;
    margin-top: -10px;
  }
  #white-div1-p2 > div:nth-child(1) > img {
    width: 594px;
    height: 396px;
    margin-left: -250px;
    margin-top: -10px;
  }
  #white-div1-p2 > div:nth-child(2) > h3 {
    font-size: 24px;
    margin-left: -800px;
    margin-top: 350px;
  }
  #white-div1-p2 > div:nth-child(2) > p:nth-of-type(1) {
    width: 346px;
    height: 94px;
    margin-left: -800px;
  }
  #white-div1-p2 > div:nth-child(2) > p:nth-of-type(2) {
    margin-left: -800px;
  }
  #white-div1-p3 > div:nth-child(2) > div > img {
    width: 500px;
    height: 345px;
    margin-left: -480px;
    margin-top: -20px;
  }
  #white-div1-p3 > div:nth-child(1) > h3 {
    font-size: xx-large;
    margin-left: 20px;
    margin-top: 350px;
  }
  #white-div1-p3 > div:nth-child(1) > p:nth-of-type(1) {
    margin-left: 20px;
    margin-top: -10px;
    width: 346px;
    height: 104px;
  }
  #white-div1-p3 > div:nth-child(1) > p:nth-of-type(2) {
    margin-left: 20px;
    padding-top: 10px;
  }
}
@media (max-width: 748px) {
  #blue-div-2 {
    width: 375px;
  }
  #blue-div-2 > h5 {
    margin-left: -530px;
  }
  #blue-div-2 > h2 {
    font-size: 40px;
    margin-top: -20px;
    line-height: 48px; /* 114.286% */
  }
  #blue-div-2 > p {
    width: 346px;
    height: 134px;
    flex-shrink: 0;
    margin-left: 20px;
  }
  #blue-div-2 > div {
    width: 350px;
    margin-left: -122px;
  }
  #blue-div-2 > div > div:nth-child(1) > p {
    margin-left: -80px;
    margin: -80px;
  }
  #blue-div-2 > div > div:nth-child(1) > h2 {
    font-size: 36px;
    margin-left: -80px;
    line-height: 48px; /* 114.286% */
    margin-top: 60px;
  }
  #blue-div-2 > div > div:nth-child(1) > button {
    margin-top: -30px;
    margin-left: 20px;
  }
  #blue-div-2 > div > div:nth-child(2) > img {
    width: 350px;
    height: 85%;
    margin-left: -318px;
    margin-top: 76px;
  }
  #white-div-2 > div {
    margin-top: 128px;
    margin-left: 15px;
  }
  #white-div-2 > div > #red-gargoyle-div {
    width: 350px;
  }
  #white-div-2 > div > #red-gargoyle-div p {
    margin-left: 10px;
  }
  #white-div-2 > div > #red-gargoyle-div h4 {
    margin-top: -10px;
    margin-left: 10px;
  }
  #white-div-2 > div > #red-gargoyle-div button {
    margin-left: 10px;
    margin-top: -10px;
  }
  #white-div-2 > div > #red-gargoyle-div img {
    width: 200px;
    margin-top: 101px;
    margin-left: -22px;
  }
  #white-div-2 > div > #blue-dog-div {
    margin-top: 540px;
    gap: 0px;
    position: absolute;
    width: 350px;
  }
  #white-div-2 > div > #blue-dog-div > div:nth-child(2) > img {
    height: 80%;
    margin-top: 102px;
    margin-left: -20px;
  }
  #white-div-2 > div > #blue-dog-div p {
    margin-top: 20px;
    margin-left: 20px;
  }
  #white-div-2 > div > #blue-dog-div h4 {
    margin-left: 20px;
  }
  #white-div-2 > div > #blue-dog-div button {
    margin-left: 20px;
  }
  #white-div-2 > button {
    position: absolute;
    margin-top: 580px;
    margin-left: 120px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(1) img {
    position: absolute;
    margin-top: 550px;
    margin-left: -80px;
    width: 300px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) h2 {
    width: 323px;
    height: 96px;
    font-size: 40px;
    line-height: 48px; /* 114.286% */
    position: absolute;
    margin-top: 1100px;
    margin-left: -690px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) p {
    width: 346px;
    height: 105px;
    position: absolute;
    margin-top: 1200px;
    margin-left: -690px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .clock {
    position: relative;
    margin-top: 1280px;
    margin-left: -690px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .parachute {
    position: relative;
    margin-top: 1480px;
    margin-left: -760px;
    padding-bottom: 500px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .p-1 {
    margin-top: -10px;
    position: absolute;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .p-2 {
    margin-top: -10px;
    margin-left: -760px;
    position: absolute;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .h4-1 {
    position: relative;
    margin-top: 1290px;
    margin-left: -690px;
  }
  #white-div-2 #dog-walk-div > div:nth-child(2) #dog-walk-div-cards .h4-2 {
    position: relative;
    margin-top: 1500px;
    margin-left: -760px;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

#fullbox {
  display: flex;
  padding: 127px 835px 144px 135px;
  box-sizing: border-box;
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background: #434ccc;
  position: relative;
  margin-top: 200px;
}

#box h5 {
  color: var(--Text_White, #fff);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#box h2 {
  width: 331px;
  height: 128px;
  color: var(--Text_White, #fff);
  margin-top: 21px;
  margin-bottom: 0px;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 114.286% */
}
#box p {
  width: 470px;
  height: 103px;
  flex-shrink: 0;
  color: var(--Text_White, #fff);
  margin-top: 29px;
  margin-bottom: 0px;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
#box button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  background-color: #f1b505;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
  margin-bottom: 0px;
}

#pic {
  width: 903px;
  position: absolute;
  top: 1px;
  height: 677px;
  flex-shrink: 0;
  margin: -19px 0px -2px 402px;
}
#pic img {
  position: absolute;
  top: 17px;
  right: 0px;
}

#m1 {
  width: 1440px;
  height: 1600px;
  flex-shrink: 0;
  background: white;
  padding: 63px 135px 112px 135px;
  box-sizing: border-box;
}

#txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}
#txt h5 {
  text-align: center;
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#txt h2 {
  margin-top: 21px;
  margin-bottom: 0px;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  line-height: 64px; /* 114.286% */
}
#txt p {
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  margin-top: 29px;
  margin-bottom: 0px;
}

#c {
  width: 370px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
}
#c h4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px; /* 133.333% */
  padding-left: 30px;
}

.c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background: #000;
  margin-left: 30px;
}

.c2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 18px 30px;
}
.c2 div:nth-child(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.c2 div:nth-child(2) > i:nth-child(1) {
  margin-right: 13px;
}
.c2 div:nth-child(2) > i:nth-child(2) {
  margin-right: 13px;
}

#card-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
}

#c3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 52px;
}
#c3 h5 {
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 95px;
  margin-bottom: 0px;
}
#c3 h2 {
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  line-height: 64px; /* 114.286% */
  margin-top: 21px;
  margin-bottom: 0px;
}
#c3 .p {
  text-align: center;
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  margin-top: 29px;
  margin-bottom: 0px;
}

#g1 {
  display: grid;
  grid-template-areas: "a1 a2 a3" "a4 a5 a6";
  row-gap: 32px;
  column-gap: 30px;
}
#g1 div:nth-child(1) {
  display: flex;
  grid-area: a1;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(1) img {
  width: 43px;
  height: 49px;
  flex-shrink: 0;
  fill: linear-gradient(225deg, #ffc105 0%, #737cff 100%);
  margin: 32px 0px 63px 32px;
}
#g1 div:nth-child(1) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(1) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(1) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}
#g1 div:nth-child(2) {
  grid-area: a2;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(2) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(2) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(2) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}
#g1 div:nth-child(3) {
  grid-area: a3;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(3) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(3) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(3) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}
#g1 div:nth-child(4) {
  grid-area: a4;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(4) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(4) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(4) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}
#g1 div:nth-child(5) {
  grid-area: a5;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(5) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(5) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(5) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}
#g1 div:nth-child(6) {
  grid-area: a6;
  width: 370px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#g1 div:nth-child(6) .b div {
  box-shadow: none;
  width: 295px;
}
#g1 div:nth-child(6) .b div h4 {
  width: 94px;
  height: 32px;
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 24px 176px 0px 25px;
}
#g1 div:nth-child(6) .b div p {
  width: 238px;
  height: 65px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin: 7px 32px 16px 25px;
}

#c4 {
  width: 1440px;
  height: 496px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  background: #434ccc;
  padding: 127px 135px 121px 135px;
  box-sizing: border-box;
}

.child1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 65px;
}
.child1 button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  border: 1px solid #7b82db;
  border-radius: 5px;
}

.i {
  position: absolute;
  margin-left: 137px;
}

.child3 {
  margin-left: 452px;
}
.child3 h5 {
  width: 160px;
  height: 24px;
  color: var(--Text_White, #fff);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}
.child3 h4 {
  width: 670px;
  height: 107px;
  flex-shrink: 0;
  color: var(--Text_White, #fff);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-top: 33px;
  margin-bottom: 0px;
}
.child3 p:nth-of-type(1) {
  width: 125px;
  height: 32px;
  color: var(--Text_White, #fff);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-top: 22px;
  margin-bottom: 0px;
}
.child3 p:nth-of-type(2) {
  width: 53px;
  height: 24px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 6px;
  margin-bottom: 0px;
}

@media (max-width: 748px) {
  #fullbox {
    margin-top: 1300px;
    width: 375px;
    height: 512px;
    padding: 0px;
  }
  #fullbox #box h5 {
    position: absolute;
    margin-top: -70px;
    margin-left: -80px;
  }
  #fullbox #box h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 20px;
    line-height: 48px; /* 114.286% */
  }
  #fullbox #box p {
    width: 346px;
    height: 143px;
    margin-top: -10px;
    margin-left: 20px;
  }
  #fullbox #box button {
    margin-top: 10px;
    margin-left: 20px;
  }
  #fullbox #pic {
    margin: 0px;
    margin-left: -528px;
    margin-top: 400px;
  }
  #fullbox #pic img {
    position: absolute;
    width: 375px;
  }
}
@media (max-width: 748px) {
  #m1 {
    width: 375px;
    height: 3088px;
    margin-top: 240px;
    padding: 0px;
  }
  #txt h2 {
    font-size: 40px;
    line-height: 48px; /* 114.286% */
  }
  #txt p {
    width: 346px;
    height: 98px;
  }
  #c {
    width: 346px;
    height: 448px;
  }
  .hr {
    margin-left: 10px;
  }
  #card-wrap {
    flex-direction: column;
    margin-left: 15px;
  }
  #c3 h2 {
    color: var(--Text_Black, #000);
    font-size: 40px;
    line-height: 48px; /* 114.286% */
  }
  #c3 .p {
    width: 346px;
    height: 99px;
  }
  #g1 {
    display: grid;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    gap: 10px;
  }
  #c4 {
    width: 375px;
    height: 848px;
    padding: 0px;
    padding-top: 50px;
  }
  .child1 button {
    margin-left: 10px;
  }
  .i {
    position: absolute;
    margin-left: 70px;
    margin-top: 0px;
  }
  .child3 {
    margin-left: 0px;
    margin-top: 300px;
  }
  .child3 h4 {
    width: 287px;
    height: 264px;
  }
}
.rectangle {
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background: #FFDD78;
}

.rectangle > h5 {
  color: var(--Text_Black, #000);
  padding-left: 135px;
  padding-top: 127px;
  width: 129px;
  height: 24px;
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.rectangle > h1 {
  width: 419px;
  height: 128px;
  padding-top: 21px;
  padding-left: 135px;
  color: var(--Text_Black, #000);
  /* H2 */
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.rectangle > p {
  width: 470px;
  height: 103px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding-left: 135px;
  padding-top: 10px;
}

.email-rectangle {
  width: 270px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 214px;
  margin-left: 135px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.subscribe-rectangle {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  margin-left: 20px;
  padding-left: 45.5px;
  padding-right: 45.5px;
  padding-bottom: 11px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.yellow-container {
  position: relative;
}

.image1 {
  position: absolute;
  top: 0;
  left: 565px;
}

.blue-container {
  width: 1440px;
  height: 656px;
  flex-shrink: 0;
  background: #434CCC;
  display: flex;
}

.blue-container > div {
  width: 720px;
  height: 100%;
  padding-left: 90px;
  padding-top: 70px;
}

.map-container {
  width: 600px;
  height: 500px;
  flex-shrink: 0;
  background: #434CCC;
  background-blend-mode: hard-light;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/map.png);
  background-size: cover;
  background-size: cover;
}

.map-container > svg {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.second-div > h3 {
  height: 24px;
  width: 108px;
  color: var(--Text_White, #FFF);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.second-div > h1 {
  height: 64px;
  width: 268px;
  color: var(--Text_White, #FFF);
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.email-contain {
  width: 470px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 414px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.message {
  border-radius: 5px;
  border: 1px solid #DADADA;
  background: #FFF;
  padding-top: 13px;
  padding-left: 16px;
  box-sizing: border-box;
  width: 470px;
  height: 96px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.submit {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--Primary_2, #F1B505);
  color: #FFF;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.white-container {
  width: 1440px;
  height: 400px;
  flex-shrink: 0;
  background: white;
}

.bottom-container {
  padding: 0;
  height: 319px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

#logo {
  color: var(--Text_Black, #000);
  padding-bottom: 20px;
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

#para-logo {
  padding-bottom: 10px;
  width: 270px;
  height: 79px;
  flex-shrink: 0;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#svg1 {
  width: 9px;
  height: 18px;
  flex-shrink: 0;
  fill: #000;
}

#svg2 {
  width: 18px;
  height: 15px;
  flex-shrink: 0;
  fill: #000;
}

#svg3 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  fill: #000;
}

.bottom-div1 {
  box-sizing: border-box;
}

#bottom-div2 {
  padding-top: 40px;
}

#bottom-div3 {
  padding-top: 40px;
}

#bottom-div4 {
  margin-top: 30px;
  display: flex;
}

.istinner > div {
  padding-top: 20px;
  padding-right: 30px;
}

#causae {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.rem-div {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

#Aperiri {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.rem-div2 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.para {
  width: 270px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.date {
  color: var(--Text_Black, #000);
  /* Text_Small */
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 200% */
}

hr {
  color: rgba(63, 61, 61, 0);
}

.bot-last {
  display: flex;
  justify-content: space-between;
}

#head {
  padding-left: 135px;
}

#part {
  padding-right: 135px;
}

.bot-last > h5 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  text-align: right;
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 748px) {
  .rectangle {
    width: 375px;
    height: 944px;
  }
  .rectangle > h5 {
    padding-left: 10px;
    padding-top: 50px;
  }
  .rectangle > h1 {
    width: 299px;
    height: 96px;
    padding-left: 10px;
    font-size: 40px;
    line-height: 48px; /* 114.286% */
  }
  .rectangle > p {
    width: 346px;
    height: 131px;
    position: relative;
    padding-left: 10px;
  }
  .email-rectangle {
    margin-left: 10px;
    padding-right: 280px;
    text-align: left;
  }
  .subscribe-rectangle {
    position: absolute;
    top: 460px;
    left: -5px;
    padding: 0px;
  }
  .sus {
    position: absolute;
    top: 10px;
    left: 40px;
  }
  .yellow-container {
    margin-top: -50px;
  }
  .image1 > img {
    width: 600px;
    position: absolute;
    left: -700px;
    top: 500px;
  }
  .blue-container {
    width: 375px;
    height: 1080px;
  }
  .blue-container > div {
    width: 720px;
    height: 100%;
    padding-left: 90px;
    padding-top: 70px;
  }
  .map-container {
    width: 355px;
    margin-bottom: 10px;
    position: absolute;
    left: 10px;
    flex-direction: column;
  }
  .second-div {
    margin-top: 500px;
    position: absolute;
    left: -80px;
  }
  .email-contain {
    padding-right: 300px;
    width: 375px;
  }
  .message {
    padding-right: 280px;
    width: 355px;
  }
  .white-container {
    width: 375px;
    height: 1000px;
  }
  .bottom-container {
    margin-left: 10px;
    flex-direction: column;
  }
  #logo {
    margin-top: 650px;
  }
  #para-logo {
    width: 346px;
    height: 79px;
  }
  #bottom-div2 {
    margin-left: -280px;
  }
  #bottom-div3 {
    margin-top: -320px;
    margin-left: 50px;
  }
  .istinner {
    margin-top: -80px;
  }
  .img3 {
    width: 71px;
    height: 48px;
  }
  .jndinner {
    margin-top: -80px;
  }
  .bottom-rect {
    margin-top: 550px;
  }
  .bot-last {
    flex-direction: column;
  }
  #head > span {
    position: absolute;
    left: 10px;
  }
  #part {
    width: 246px;
  }
  #part > span {
    position: absolute;
    left: 10px;
  }
}
#white-div4-p1 {
  margin-top: 25px;
  width: 1440px;
}
#white-div4-p1 h5 {
  margin-top: 80px;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#white-div4-p1 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#white-div4-p1 p {
  margin-left: 435px;
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
#white-div4-p1 div {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#white-div4-p1 div div:nth-child(1) > img {
  width: 172px;
  height: 35px;
}
#white-div4-p1 div div:nth-child(2) > img {
  width: 164px;
  height: 54px;
}
#white-div4-p1 div div:nth-child(3) > img {
  width: 368px;
  height: 53px;
}
#white-div4-p1 div div:nth-child(4) > img {
  width: 173px;
  height: 53px;
}
#white-div4-p1 div div:nth-child(5) > img {
  width: 168px;
  height: 53px;
}
#white-div4-p1 button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  color: #434CCC;
  background-color: white;
  border: 1px solid #434CCC;
  margin-bottom: 96px;
  margin-left: 635px;
  margin-top: 72px;
}

#white-div4-p2 {
  width: 1440px;
  height: 600px;
}
#white-div4-p2 div:nth-child(1) h5 {
  margin-left: 135px;
  margin-top: 62px;
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#white-div4-p2 div:nth-child(1) div:nth-of-type(1) {
  margin-left: 135px;
  width: 1170px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#white-div4-p2 div:nth-child(1) div:nth-of-type(1) h2 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#white-div4-p2 div:nth-child(1) div:nth-of-type(1) button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #434CCC;
  color: #434CCC;
  border-radius: 5px;
  background-color: white;
}

#white-div4-p2 > .cards {
  height: 480px;
  margin-top: 10px;
  margin-left: 135px;
  display: flex;
  gap: 30px;
}
#white-div4-p2 > .cards div {
  width: 520px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 26px;
}
#white-div4-p2 > .cards div img {
  width: 519px;
  height: 346px;
}
#white-div4-p2 > .cards div p:nth-of-type(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
#white-div4-p2 > .cards div h4 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 0;
}
#white-div4-p2 > .cards div p:nth-of-type(2) {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

#white-div4-p3 {
  width: 1440px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 126px;
  padding-bottom: 126px;
}
#white-div4-p3 div:nth-of-type(1) h5 {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#white-div4-p3 div:nth-of-type(1) h4 {
  width: 275px;
  height: 96px;
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
#white-div4-p3 div:nth-of-type(1) button {
  width: 48px;
  height: 48px;
  background-color: white;
  border: 1px solid #434CCC;
  margin-right: 20px;
}
#white-div4-p3 div:nth-of-type(1) span {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
#white-div4-p3 div > img {
  border-radius: 5px;
}

#white-div2-p1 hr {
  opacity: 0.0974;
  background: #000;
  width: 1440px;
  height: 1px;
  flex-shrink: 0;
}

@media (max-width: 748px) {
  #white-div4-p1 {
    margin-top: 25px;
    width: 375px;
  }
  #white-div4-p1 p {
    margin-left: 10px;
    width: 346px;
    height: 104px;
  }
  #white-div4-p1 div {
    align-items: center;
    flex-direction: column;
  }
  #white-div4-p1 button {
    margin-left: 100px;
  }
  #white-div4-p2 {
    width: 375px;
    height: 1300px;
  }
  #white-div4-p2 div:nth-child(1) h5 {
    margin-left: 10px;
  }
  #white-div4-p2 div:nth-child(1) div:nth-of-type(1) {
    margin-left: 10px;
  }
  #white-div4-p2 div:nth-child(1) div:nth-of-type(1) h2 {
    font-size: 40px;
    line-height: 48px; /* 114.286% */
  }
  #white-div4-p2 div:nth-child(1) div:nth-of-type(1) button {
    position: absolute;
    margin-left: 100px;
    margin-top: 2600px;
  }
  #white-div4-p2 > .cards {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  #white-div4-p2 > .cards div {
    width: 335px;
    height: 512px;
  }
  #white-div4-p2 > .cards div img {
    width: 330px;
  }
  #white-div4-p3 {
    border-top: 1px solid black;
    width: 375px;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
